body {
	background: #ddd;
	margin: 0
}
p{
	font-family: Calibri, sans;
}
.hero img{
	width: 100%;
	border-radius: 10px 10px 0 0;
}
.cake img {
	width: 100%;
}
.container{
	width: 600px;
	margin: 100px auto;
}
